
.cart-items{
    background: #f6f9fc;
    height: auto;
    padding: 50px 0;
}
.cart-items .cart-details{
    width: 70%;
}
         
.cart-items .cart-total{
    width: 30%;
    margin: 30px 0 0 30px;
    height: 130x;
}
.cart-list{

    background: #fff;
    margin-top: 30px;
}
.cart-items .img{
    width: 150px;
    height: 150px;

}
.cart-items img{

    width: 100%;
    height: 100%;
    object-fit: contain;

}
.cart-items .cart-details h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 2opx;
}
.cart-items .cart-details h4{
    font-size: 15px;
    font-weight: 400;
    margin-top: 50px;
    color: grey
}
.cart-items h4 span {
    color: #e94560;
    margin-left: 20px;
    font-weight: 500;
}
.removeCart{
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}
.cartControl{
    margin-top: 50px;
}
.cartControl button{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.inCart{
    background-color: none;
}
.deCart{
    background: #f6f9fc;
}
.cart-total h2{
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #e94560
}
.cart-total h3{
    font-size: 20px;
    color: #e94560;
    font-weight: 500;
}
.cart-total h4{
    font-size: 15px;
    font-weight: 400;
}
.no-items{
    color: #e94560;
    margin-top: 30px;
    height: 140px;
    font-size: 18px;
}
@media screen and (max-width: 600px) {
    .cart-items .container{
        flex-direction: column;
    }
    .cart-items .container .cart-total{
        
        width: max-content;
    }
    .cart-items .container .cart-details{
            width: 100%;
    }
    .removeCart button{
        display: block;
        margin-left: 200%;
    }
    .cart-list{
        display: flex;
        flex-direction: column;
    }
    .cartControl{
        margin-top: 5px;
    }
}